.heading {
    font-size: 25;
    width: 100%;
    margin: 1px;
    box-shadow: 5px 5px 5px grey
}

.note   
{
    font-size: 15px;
    color:black ;
}

.footer_fortnite 
{
position: fixed;
color:ivory;
bottom:0;
width:100%;
background-color: grey;
line-height: 3;
text-align: center;

}

canvas 
{
    border:5px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}